<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>E-LITERATE</title>
  </head>
  <body style="background-color:green;">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/exam/">E-LITERATE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>/
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/exam/about">About us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exam/contact">Contact Us</a>
      </li>
      </li>
    </ul>
  </div>
       <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to E-LITERATE!</strong> TEST SERIES
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

     <!WHATS APP plugin>

      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
       <div class="elfsight-app-83fd1fcd-6082-4803-a45f-c747320345c0"></div>

    <div class="container" >


      <div class="row" >
      <div class="card col-lg-4 "style="width: 18rem ;" style="background-color:green;">

  <div class="card-body" style="background-color:orange;">
    <h1 class="card-title">TEST 1</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 2</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 3</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 4</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 5</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 6</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 7</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 8</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 9</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 10</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 11</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 12</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 13</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 14</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 15</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 16</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 17</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 18</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 19</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

 <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 20</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>

          <div class="card col-lg-4 "style="width: 18rem ;">

  <div class="card-body"style="background-color:orange;">
    <h1 class="card-title">TEST 21</h1>
    <p class="card-text"> </p>
    <P Class="card-text">Attempt a JEE Main  Mock Test</P>
    <a href="  https://www.flexiquiz.com/SC/RG?p=2b147e3f-2255-444b-ae36-13018503ae1a " class="btn btn-primary">START TEST</a>
  </div>
</div>



    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>